<textarea name="editor1"><%= raw(@content) %></textarea>
<script>
    CKEDITOR.replace('editor1');
</script>
<br>
<form action="/" method="POST">
	<input type="text" name="url" value="<%= @url %>">
	<input type="submit">	
</form>