<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CKEditor</title>
        <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
    </head>
    <body>
    	<%= yield %>
    </body>
</html>